{% extends "layout.html" %}

{% block title %}
    매출 목록
{% endblock %}

{% block content %}
{% if sales %}
<h2>매출 목록</h2>
<form method="get" action="{{ url_for('export')}}">
    <button type="submit">EXCEL 다운로드</button>
</form>
<table>
    <thead>
        <tr>
            <th>판매일자</th>
            <th>품목명</th>
            <th>수량</th>
            <th>단가</th>
            <th>총액</th>
            <th>관리</th>
        </tr>
    </thead>
    <tbody>
        {% for sale in sales %}
        <tr>
            <td>{{ sale[1] }}</td>
            <td>{{ sale[2] }}</td>
            <td>{{ sale[3] }}</td>
            <td>{{ sale[4] }}</td>
            <td>{{ sale[5] }}</td>
            <td>
                <a href="{{ url_for('edit', id=sale[0]) }}">수정</a>
                <a href="{{ url_for('delete', id=sale[0]) }}" onclick="return confirm('삭제하시겠습니까?')">삭제</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="pagination">
    {% if page > 1 %}
    <a href="{{ url_for('sales', page=page-1) }}">이전</a>
    {% endif %}

    {% for p in range(1, total_pages + 1) %}
        {% if p == page %}
            <strong>{{ p }}</strong>
        {% else %}
            <a href="{{ url_for('sales', page=p) }}">{{ p }}</a>
        {% endif %}
    {% endfor %}

    {% if page < total_pages %}
    <a href="{{ url_for('sales', page=page+1) }}">다음</a>
    {% endif %}
</div>
{% else %}
<p>매출 목록이 없습니다.</p>
{% endif %}
{% endblock %}